@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
/* ### Primary */

--Tomato: #ff6257;
/* ### Neutral */

--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: all .4s ease;
    font-family: roboto , sans-serif;
}
li {
    list-style-type: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: var(--Charcoal-Grey);
    height: 100vh;
    max-width: 100%;
}
.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem; 
    width: 900px;
    height: auto;
    background-color: var(--White);
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
}
.toggle-left {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    padding: 20px;
    max-width: 400px;
}
.toggle-left h1 {
    font-size: 3rem;
    color: var(--Dark-Slate-Grey);
}
.toggle-left p {
    line-height: 1.5rem;
    color: var(--Dark-Slate-Grey);
}
.toggle-left ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    font-size: 100%;
    margin-bottom: 10px;
}
.toggle-left ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

#myform {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    max-width: 100%;
}
#myform label {
    display: flex;
    justify-content: space-between;
    font-size: .90rem;
    font-weight: 500;
}
#erromensage {
    color: #FF537B;
}
#myform input {
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
}

#myform .btn {
    margin-top: 10px;
    color: var(--White);
    background: var(--Dark-Slate-Grey);
    border: none;
    font-size: 1rem;
    font-weight: 500;
}
#myform .btn:hover {
    background-image: linear-gradient(to right, #FF537B ,#ff6257,);
    box-shadow: 1px 5px 20px 0px #FEC9C5;
}
.toggle-right { 
    max-width: 100%;
}
.toggle-right img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 732px) {
    .conteiner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .toggle-right {
        max-width: 100%;
    }
    .toggle-right img {
        max-width: 100%;
        height: auto;
    }
}